/Deber7_Alexis_Tapia/nbproject/private/
/Deber1_Alexis_Tapia/nbproject/private/
/Deber3_Alexis_Tapia/nbproject/private/
/Deber4_Alexis_Tapia/nbproject/private/
/IngresoDespliegueDatos/nbproject/private/
/JavaBean/nbproject/private/
/MiPrimeraClase/nbproject/private/
/Practica1_Alexis_Tapia/nbproject/private/
/Practica_Prueba1/nbproject/private/
/Taller3_Alexis_Tapia/nbproject/private/
/Taller1_Ej2_Alexis_Tapia/nbproject/private/
/Taller1_Ej1_Alexis_Tapia/nbproject/private/
/Taller1_Alexis_tapia/nbproject/private/
/Prueba2_IB_Alexis_Tapia/nbproject/private/
/Prueba2_Alexis_Tapia/nbproject/private/
/Prueba1_IB_Alexis_Tapia/nbproject/private/
/Prueba2_IB_Alexis_Tapia/nbproject/private/
/Deber2_Alexis_Tapia/nbproject/private/
